<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>我的订单</title>
		<link rel="icon" href="./images/common/云上书屋.png" type="image/x-icon" />
		<link rel="stylesheet" href="../../css/orders/orders.css">
		<link rel="stylesheet" href="../../css/common/nav.css">
		<script src="../../js/common/jquery-1.12.4.js"></script>
	</head>

	<body>
		<div id="nav">
			<div class="header">
				<div class="container">
					<div class="header-log">
						<!--定义头部-->
						<div class='nav'>

							<ul>
								<li><img src="../../images/common/素材-大书.png"></li>
								<li><a href='../../index01.html'>主页</a></li>
								<li><a href='#'>分类</a>
									<ul>
										<li><a href='../../index01.html'>图书</a></li>
										<li><a href='../../index02.html'>电子书</a></li>
									</ul>
								</li>
								<li><a href='#'>个人中心</a>
									<ul>
										<li><a href='../../view/shoppingcar/shoppingcar.html'>购物车</a></li>
										<li><a href='../../view/personal_center/center.html'>个人信息</a></li>
										<li><a href='../../view/orders/orders.html'>订单信息</a></li>
										<li><a href='../../view/personal_center/center.html'>地址信息</a></li>
									</ul>
								</li>
								<li><a href='../../view/login/login.html'>登陆</a></li>
								<li><a href='../../view/login/login.html'>注册</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div class="d0">
				<div class="d1">
					<div class="banners">
						<div class="banners-nav1">
							<ul>
								<li class="u2">
									<h3>订单管理</h3>
								</li>
								<li id="12"><span>订单管理</span></li>
								<li id="13"><span><a href="in-orders/申请退换货.html" style="color: rgb(133, 133, 133);">售后管理</a></span></li>
								<li id="14"><span><a href="in-orders/待评价订单.html" style="color: rgb(133, 133, 133);">评价管理</a></span></li>
							</ul>
						</div>

						<div class="banners-nav4">
							<ul>
								<li></li>
								<li><a href=""><span></span></a></li>
								<li><a href=""><span></span></a></li>
								<li><a href=""><span></span></a></li>

							</ul>
						</div>
					</div>

				</div>


				<div class="all d2" id="te">

					<div class="banners1">
						<h3 style="color: black;">我的订单</h3>
					</div>

					<div class="u1">
						<ul class="u3">
							<li><a href="" style="color: black;">所有订单</a></li>
							<li><a href="" style="color: black;">待付款<em>0</em></a></li>
							<li><a href="" style="color: black;">待发货<em>0</em></a></li>
							<li><a href="" style="color: black;">待评价<em>0</em></a></li>
							<li><a href="" style="color: black;">退款或售后</a></li>
						</ul>
						<div class="l1"><input type="text" value="" class="search-order-ipt" placeholder="订单号/商品名称">
						</div>
						<section class="cont" id="global">
							<div>
								<div class="d4">
									<div class="d5">
										<select class="s1">

											<option value="">近三个月订单</option>

											<option value="">今年订单</option>

											<option value="">去年订单</option>

											<option value="">更早以前</option>

										</select>
										<p class="ph1">商品信息</p>
										<p class="ph2">实付款(元)</p>
										<p class="ph4">交易操作</p>

										<select class="s2">

											<option value="">交易状态</option>

											<option value="">待付款</option>

											<option value="">待发货</option>

											<option value="">待收货</option>
											<option value="">已完成</option>

											<option value="">已取消</option>


										</select>


									</div>

								</div>
							</div>

						</section>

					</div>
					<div class="d23">
						<img class="imgs1" src="../../images/orders/我的订单.png" alt="">
						<div class="d22"><a href="">去购物 &gt</a></div>
					</div>
				</div>
				<div class="all d2" id="ta">

					<div class="banners">
						<h3 style="color: black;">售后申请</h3>
					</div>
					<div class="u1">
						<ul class="u3">
							<li class=""><a href="../orders/in-orders/申请退换货.html" style="color: black;">申请退换货</a></li>
							<li class=""><a href="../orders/in-orders/申请列表.html" style="color: black;">申请列表</a></li>
						</ul>
						<div class="l1"><input type="text" value="" class="search-order-ipt" placeholder="订单号/商品名称">
						</div>
						<section class="cont" id="global">
							<div>
								<div class="d4">
									<div class="d5">
										<p class="ph5">订单编号</p>
										<p class="ph6">订单列表</p>
										<select class="s2">

											<option value="">近三个月订单</option>

											<option value="">今年订单</option>

											<option value="">去年订单</option>

											<option value="">更早以前</option>


						</section>

					</div>
					<div class="d23">
						<img class="imgs1" src="../../images/orders/订单1.png" alt="">
						<div class="d22"><a href="">去购物 &gt</a></div>
					</div>

				</div>
				<div class="all d2" id="tc">

					<div class="banners1">
						<h3 style="color: black;">待评价订单</h3>
					</div>
					<div class="u1">
						<ul class="u3">
							<li><a href="../../view/orders/in-orders/待评价订单.html" style="color: black;">待评价订单0</a></li>
							<li><a href="../../view/orders/in-orders/已评价.html" style="color: black;">已评价</a></li>
						</ul>
						<div class="d24">
							<img class="imgs2" src="../../images/orders/订单评价.png" alt="">
							<div class="d25"><a href="">去购物 &gt</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<!-- 	<script>
			$(function() {
				$("#12").click(function() {
					$(".all").css("display", "none")
					$("#te").css("display", "block")
				})
			})
			$(function() {
				$("#13").click(function() {
					$(".all").css("display", "none")
					$("#ta").css("display", "block")
				})
			})
			$(function() {
				$("#14").click(function() {
					$(".all").css("display", "none")
					$("#tc").css("display", "block")
				})
			})
		</script> -->

	</body>

</html>
