<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login and Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/common/云上书屋.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../css/login/demo.css" />
        <link rel="stylesheet" type="text/css" href="../../css/login/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/login/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Login and Registration Form <span>with Cloud Bookstore</span></h1>
				<nav class="codrops-demos">
					<span>Click <strong>"Join us"</strong> to see the form switch</span>
				</nav>
            </header>
<div style="text-align:center;clear:both;">
</div>
            <section>				
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="#" autocomplete="on"> 
                                <h1>Login</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Your email or username or phone</label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
									<label class="tp-1" style="color: red; display: none;">账号不存在！</label>
								</p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="abc123456789" /> 
									<label class="tp-2" style="color: red; display: none;">密码错误！</label>
								</p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button"> 
                                    <input class="btn" type="submit" value="Login" /> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="#" autocomplete="on"> 
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
									<label class="tip-1" style="color: red; display: none;">格式错误！</label>
								</p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
									<label class="tip-2" style="color: red;display: block;">格式错误！</label>
								</p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="abc123456789"/>
									<label class="tip-3" style="color: red;display: none;">格式错误！</label>
								</p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="abc123456789"/>
									<label class="tip-4" style="color: red;display: none;">两次密码不一致！</label>
								</p>
								<p>
								    <label for="emailsignup" class="youmail" data-icon="p" > Your phone</label>
								    <input id="phonesignup" name="phonesignup" required="required" type="phone" placeholder="15724865448"/> 
									<label class="tip-5" style="color: red;display: none;">格式错误！</label>
								</p>
                                <p class="signin button"> 
									<input class="btn" type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
	</body>	
	<script>
		let ti=document.getElementsByClassName("tip-1");
		ti.className="tip";
	</script>
</html>