a{
    text-decoration: none;
	color: #909399;
}
li{
    list-style-type: none;
}

#first{
    background-color: rgb(172,218,224);
}
.contain{
  position: relative;
  margin: 0 auto;
  height: auto !important;
  height: 100%;
  width: 1226PX;
}
/* banner */
.banners{
    width: 1226PX;
    height: 1250px;
    margin: auto;
    position: relative;
    top: 50px;
    /*border: 1px red solid;*/
    overflow: hidden;
}

.banners>nav {
    /*border: 1px black solid;*/
    background-color:whitesmoke;
    width: 250px;
    height: 100%;
    position: absolute;
}

.banners>nav>ul{
    width: 250px;
    height: 100%;
    position: absolute;
}

/*侧边导航栏*/
.top{
    position: absolute;
    top: 0px;
    text-align: center;
    width:100% ;
    height:30px;
    background-color:  rgb(196, 219, 102);
    font-size: 20px;
    color:rgb(21,184,215);
}

.new_aside {
    position:absolute;
    float: left;
    width: 250px;
    margin-right: 15px;
 /*   border: 1px blue solid;*/
    top: 15px;
    left: 0px;

}
.new_title {
    zoom: 1;
    overflow: hidden;
    padding: 16px 0 16px 18px;
    background-color: rgb(172, 218, 224);
}
.new_aside .new_title dt {
    font-size: 14px;
    color: #222;
    font-weight: 700;
    padding-bottom: 3px;
}

.new_aside .new_title dd {
    float: left;
    padding-right: 18px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    font-weight: 400;
}
.new_aside a{
    color:rgb(21,184,215);
}
.new_aside .newmore {
    line-height: 36px;
    background: #e9e7e6;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.new_aside .newmore:hover{
    background-color: rgb(196, 219, 102);
}

.new_aside a:hover{
    text-decoration: #4caf50;
}

/*轮播图*/
.swiper-container{
    width: 675px;
    left: -10px;
}

.swiper-wrapper img{
    height: auto;
    width: 675px;
}

/*商品展示栏*/
.product-a{
   /* border: 1px blue solid;*/
    position: relative;
    height: 100%;
    width: 935px;
    left: 265px;
    overflow: hidden;
    top: -10px;
}

.pro-title-a{
  /*  border: 1px yellow solid;*/
    height: 80px;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color:rgb(172, 218, 224) ;
}
.pro-com{
   /* border: 1px black solid;*/
    height: 760px;
    position: relative;
    top: 10px;
}
.con-title{
  /*  border: 1px green solid;*/
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: rgb(196, 219, 102);
}
.con-title ul{
   /* border: 1px greenyellow solid;*/
    position: absolute;
    width: 100%;

}
.con-title>ul>li{
    display: block;
    float: left;
    padding: 20px;
    margin: 5px;
   /* border: 1px greenyellow solid;*/
    width: 83px;
    top: -12px;
    left: -38px;
    position: relative;
}


.con-list{
    position: relative;
    top: 70px;
    height: 690px;
    width: 100%;
  /*  border: 1px darkorange solid;*/

}
.bookCell{
   /* border: 1px greenyellow solid;*/
    height: 310px;
    width: 200px;
    float: left;
    padding: 10px;
    margin: 6px;
}
.bookImg{
   /* border: 1px blue solid;*/
    overflow: hidden;
    height: 220px;
    width: 180px;
}
.bookDesc{
   /* border: 1px blue solid;*/
    height: 110px;
    font-size: 10px;
}
.bookWriter{
    color: #666666;
}
.bookDesc span{
    color: red;
    font-size: 15px;
}
.bookDesc em{
    font-style: normal;
}
.bookTip{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.index_content_right{
   /* border: 1px yellow solid;*/
    width: 265px;
    height: 390px;
    right: 0px;
    position: absolute;
    top: 0px;
    left: 942px;
}
.recommend_book_adv{
   /* border: 1px blueviolet solid;*/
    overflow: hidden;
    margin: 5px;
    padding: 5px;
}
.recommend_book_adv>a>img{
    width: 245px;
    height: 120px;
    margin: 2px;
}
#content>div{
    display: none;
}
.active{
    background-color: white;
}

.bookTip:hover{
    color: rgb(196, 219, 102);
}

.new_title dt>a:hover{
    text-decoration: none;
    border-bottom: 2px solid rgb(196, 219, 102);
}