<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../css/common/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="./images/common/云上书屋.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../css/common/foot.css">
    <link rel="stylesheet" href="../../css/produce/produnce1.css">
    <title>文学</title>
</head>
<body>
    <!-- 定义头部 -->
<div class='nav'>
    <ul>
    	<li><img src="../../images/common/素材-大书.png"></li>
    	<li><a href='../../index01.html'>主页</a></li>
    	<li><a href='#'>分类</a>
    		<ul>
    			<li><a href='../../index01.html'>图书</a></li>
    			<li><a href='../../index02.html'>电子书</a></li>
    		</ul>
    	</li>
    	<li><a href='#'>个人中心</a>
    		<ul>
    			<li><a href='../../view/shoppingcar/shoppingcar.html'>购物车</a></li>
    			<li><a href='../../view/personal_center/center.html'>个人信息</a></li>
    			<li><a href='../../view/orders/orders.html'>订单信息</a></li>
    			<li><a href='../../view/personal_center/center.html'>地址信息</a></li>
    		</ul>
    	</li>
    	<li><a href='../../view/login/login.html'>登陆</a></li>
    	<li><a href='../../view/login/login.html'>注册</a></li>
    </ul>
</div>

<!-- 定义导航 -->
<div class="header">
    <div class="container">
        <!-- logo -->
        <div class="header-logo">
            <div class="logo">
                <a href="">
                <img src="../../images/produce/logo.png" alt="">

                <div class="shu"></div>
                </a>
             </div>
            <div class="ddread">
                <a href="">云上书屋</a>
            </div>

            <div class="ddQRcode"><img src="" alt="">
             <!-- <p>万元电子书0元读</p> -->
              </div>

            <div class="header-search">
             <div class="item1"><input type="text" placeholder="小说" class="item1"></div>
             <div class="item2"><input type="button" value="搜索" class="item2"></div>
            </div>



            <ul class="new_icon">
                <li>
                    <a href="" class="shoppingCarWrap">
                        <img src="imgs/new_car.png" alt="">
                        购物车
                        <b id="crat_items_count" class="cart_goods_counts">0</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
 </div>


<!-- 定义内容 -->
<!-- <div class="tu"><img src="imgs/preview.jpg" alt=""></div> -->
    <div id="bd">
        <div class="content">
            <div class="left">
                <div class="book_new">
                    <div class="new_book_title">
                        <span>新</span>
                        书上架
                    </div>
                </div>
                <div class="over">
                            <ul class="product_ul">
                                <li class="line1">
                                    <a href=""><img src="../../images/produce/line1.jpg" alt=""></a>
                                    <p class="name">
                                        <a href="">盗墓笔记·南部档案（南派三叔代母笔记系列全新力作！）</a>
                                    </p>
                                    <p class="author">
                                        南派三叔 著
                                    </p>
                                    <p class="press_date">
                                        <span class="press_t">出版时间</span>
                                        2021-08-01
                                    </p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">33.60</span>
                                        </span>
                                        <span class="price_f">
                                            <span class="price_r">
                                                <del>
                                                <span class="sign">￥</span>
                                                <span class="num">48.00</span>
                                                </del>
                                            </span>
                                        </span>
                                    </p>
                                </li>
                                <li class="line2">
                                    <a href=""><img src="../../images/produce/line2.jpg" alt=""></a>
                                    <p class="name"><a href="">世界坟墓中的安娜·尹(诺奖得主托卡尔丘克长篇小说)</a></p>
                                    <p class="author">[波兰]奥尔加·托卡尔丘克</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">24.50</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">49.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line3">
                                    <a href=""><img src="../../images/produce/line3.jpg" alt=""></a>
                                    <p class="name"><a href="">非常疑犯（“法医笔记”系列重磅新作）</a></p>
                                    <p class="author">红眸 著，真故图书</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-31</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">26.00</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">52.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line4">
                                    <a href=""><img src="../../images/produce/line4.jpg" alt=""></a>
                                    <p class="name"><a href="">天堂旅行团（当当专享寄语印签环衬+精编小册子，继《全世界》《云边》之后，张嘉佳新书2021全新长篇力作）</a></p>
                                    <p class="author">张嘉佳 著，博集天卷</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">36.00</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">48.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line5">
                                    <a href=""><img src="../../images/produce/line5.jpg" alt=""></a>
                                    <p class="name"><a href="">焦虑的人（九个焦虑的人，一场人质劫持，能解救他们的不是警察，而是彼此。《外婆的道歉信》《清单人生》巴克曼拿手的暖心治愈故事）</a></p>
                                    <p class="author">[瑞典] 费雷德里克</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">34.00</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">49.80</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line6">
                                    <a href=""><img src="../../images/produce/line6.jpg" alt=""></a>
                                    <p class="name"><a href="">东野圭吾：麒麟之翼（日本达文西年度推理小说，《恶意》系列作）</a></p>
                                    <p class="author">（日）东野圭吾  著 ， 新经典  出品</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">24.50</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">49.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line7">
                                    <a href=""><img src="../../images/produce/line7.jpg" alt=""></a>
                                    <p class="name"><a href="">李淼罪案故事：如坠深渊（当当专享签名版！胆小不要看！300万读者深夜追更，淼叔带你看日本十大真实奇案）</a></p>
                                    <p class="author">李淼</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-07-16</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">39.90</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">58.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line8">
                                    <a href=""><img src="../../images/produce/line8.jpg" alt=""></a>
                                    <p class="name"><a href="">桃花源密码2：武陵神树（让人五页入坑的现象级冒险小说，赠送帅气角色纸立牌）</a></p>
                                    <p class="author">何殇 著，捧读文化 出品</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-30</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">22.50</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">45.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line9">
                                    <a href=""><img src="../../images/produce/line9.jpg" alt=""></a>
                                    <p class="name"><a href="">大人也需要童话（随机签名版）</a></p>
                                    <p class="author">童亮 著，鲤伴出品，有容书邦 发行</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-08-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">33.80</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">49.00</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                                <li class="line10">
                                    <a href=""><img src="../../images/produce/line10.jpg" alt=""></a>
                                    <p class="name"><a href="">法医秦明玩偶（法医秦明全新作品，与法医一同抽丝剥笋，一层层揭开玩偶下的真面目。）</a></p>
                                    <p class="author">法医秦明</p>
                                    <p class="press_date"><span class="press_r">出版时间</span>2021-09-01</p>
                                    <p class="price">
                                        <span class="rob">
                                            <span class="sign">￥</span>
                                            <span class="num">49.80</span>
                                        </span>
                                        <span class="price_r">
                                            <del>
                                            <span class="sign">￥</span>
                                            <span class="num">49.80</span>
                                        </del>
                                        </span>
                                    </p>
                                </li>
                            </ul>
                </div>
                <div class="book_new2">
                    <div class="new_book2_title">
                        <span>书</span>
                        屋精选
                    </div>
                </div>
                <div class="over">
                    <ul class="product_ul">
                        <li class="line1">
                            <a href=""><img src="../../images/produce/linea1.jpg" alt=""></a>
                            <p class="name">
                                <a href="">人生（茅盾文学奖得主路遥代表作，</a>
                            </p>
                            <p class="author">
                                路遥  著 ， 新经典  出品
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">31.60</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">45.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line2">
                            <a href=""><img src="../../images/produce/linea2.jpg" alt=""></a>
                            <p class="name">
                                <a href="">喜宝（精装版，亦舒独家指定授权，</a>
                            </p>
                            <p class="author">
                                亦舒 著，博集天卷 出品
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">19.50</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">39.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line3">
                            <a href=""><img src="http://img3m2.ddimg.cn/70/32/28508902-1_l_3.jpg" alt=""></a>
                            <p class="name">
                                <a href="">狼图腾（王俊凯、白岩松推荐经典小</a>
                            </p>
                            <p class="author">
                                姜戎  著 ， 新经典   出品
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">49.70</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">69.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line4">
                            <a href=""><img src="http://img3m0.ddimg.cn/85/30/27859180-1_l_7.jpg" alt=""></a>
                            <p class="name">
                                <a href="">无人生还（精装纪念新版）</a>
                            </p>
                            <p class="author">
                                [英]阿加莎·克里斯蒂  著; 夏阳  译;
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">24.50</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">49.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line5">
                            <a href=""><img src="http://img3m1.ddimg.cn/55/29/28549081-1_l_5.jpg" alt=""></a>
                            <p class="name">
                                <a href="">烧纸</a>
                            </p>
                            <p class="author">
                                （韩）李沧东 著，金冉 译
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">41.90</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">58.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line6">
                            <a href=""><img src="http://img3m2.ddimg.cn/1/27/23718322-1_l_16.jpg" alt=""></a>
                            <p class="name">
                                <a href="">无声告白（我们终此一生，就是要摆</a>
                            </p>
                            <p class="author">
                                (美)伍绮诗 著,孙璐 译；读客文化 出品
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">17.50</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">35.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line7">
                            <a href=""><img src="http://img3m4.ddimg.cn/37/34/28482634-1_l_9.jpg" alt=""></a>
                            <p class="name">
                                <a href="">呼吸（横扫国际国内各大好书榜单，</a>
                            </p>
                            <p class="author">
                                特德·姜 著，耿辉、 Ent 、李克勤、 姚向辉 译
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">25.20</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">42.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line8">
                            <a href=""><img src="http://img3m3.ddimg.cn/25/4/29132953-1_l_2.jpg" alt=""></a>
                            <p class="name">
                                <a href="">金庸作品集（彩图平装旧版）金庸全，</a>
                            </p>
                            <p class="author">
                                金庸   著
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">25.20</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">42.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line9">
                            <a href=""><img src="http://img3m3.ddimg.cn/0/6/26913843-1_l_8.jpg" alt=""></a>
                            <p class="name">
                                <a href="">白鹿原（新版）央视《读书》栏目推，</a>
                            </p>
                            <p class="author">
                                陈忠实
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">25.20</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">42.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                        <li class="line10">
                            <a href=""><img src="http://img3m3.ddimg.cn/41/30/25172573-1_l_4.jpg" alt=""></a>
                            <p class="name">
                                <a href="">秘密 （东野圭吾创作生涯里程碑）</a>
                            </p>
                            <p class="author">
                                东野圭吾 著，新经典 出品
                            </p>
                            <p class="press_date">
                                <span class="press_t">出版时间</span>
                                2021-08-01
                            </p>
                            <p class="price">
                                <span class="rob">
                                    <span class="sign">￥</span>
                                    <span class="num">25.20</span>
                                </span>
                                <span class="price_f">
                                    <span class="price_r">
                                        <del>
                                        <span class="sign">￥</span>
                                        <span class="num">42.00</span>
                                        </del>
                                    </span>
                                </span>
                            </p>
                        </li>
                    </ul>
                </div>
                


                <!-- 右 -->
            </div>
            <div class="right">
                <div class="book_top">
                    <div class="con_title">
                        <a href="">新书热卖榜</a>
                    </div>
                    <div class="ebook_sell">
                        <ul>
                            <li class="line1_bar">
                                <span class="num1">1</span>
                                <p class="name1">
                                    <a href="">天堂旅行团（当当专享寄语印签</a>
                                </p>
                            </li>
                            <li class="line2_bar">
                                <span class="num1">2</span>
                                <p class="name1"><a href="">李淼罪案故事：如坠深渊（当当</a></p>
                            </li>
                            <li class="line3_bar">
                                <span class="num1">3</span>
                                <p class="name1"><a href="">非常疑犯（“法医笔记”系列重</a></p>
                            </li>
                            <li class="line4_bar">
                                <span class="num1">4</span>
                                <p class="name1"><a href="">法医秦明玩偶（法医秦明全新作</a></p>
                            </li>
                            <li class="line5_bar">
                                <span class="num1">5</span>
                                <p class="name1"><a href="">焦虑的人（九个焦虑的人，一场</a></p>
                            </li>
                            <li class="line6_bar">
                                <span class="num1">6</span>
                                <p class="name1"><a href="">大人也需要童话（随机签名版）</a></p>
                            </li>
                            <li class="line7_bar">
                                <span class="num1">7</span>
                                <p class="name1"><a href="">黎明前的那一夜（当当专享签名</a></p>
                            </li>
                            <li class="line8_bar">
                                <span class="num1">8</span>
                                <p class="name1"><a href="">外婆出租中</a></p>
                            </li>
                            <li class="line9_bar">
                                <span class="num1">9</span>
                                <p class="name1"><a href="">索拉里斯星（波兰科幻大师莱姆</a></p>
                            </li>
                            <li class="line10_bar">
                                <span class="num1">10</span>
                                <p class="name11"><a href="">海边的房间</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right2">
                <div class="con_title2">
                    <a href="">精彩主题</a>
                </div>
                <div class="ebook_sell2">
                    <ul class="pic">
                        <li class="pic_li1">
                            <a href=""><img src="http://img56.ddimg.cn/9002880051063996.jpg" alt=""></a>
                        </li>
                        <li class="pic_li2">
                            <a href=""><img src="http://img62.ddimg.cn/upload_img/00348/2016/zgn_240120.jpg" alt=""></a>
                        </li>
                        <li class="pic_li3">
                            <a href=""><img src="http://img62.ddimg.cn/upload_img/00684/zn_yf/znnjsmx240120.jpg" alt=""></a>
                        </li>
                    </ul>
                    <ul class="text">
                        <li class="book1">
                            <a href="">平凡的世界：茅盾文学奖皇冠上的明珠</a>
                        </li>
                        <li class="book2">
                            <a href="">平凡的世界：茅盾文学奖皇冠上的明珠</a>
                        </li>
                        <li class="book3">
                            <a href="">平凡的世界：茅盾文学奖皇冠上的明珠</a>
                        </li>
                        <li class="book4">
                            <a href="">平凡的世界：茅盾文学奖皇冠上的明珠</a>
                        </li>
                        <li class="book5">
                            <a href="">平凡的世界：茅盾文学奖皇冠上的明珠</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 定义尾部 -->
    <div class="foot">
		<!-- 多快好省start -->
	<div class="dkhs">
		<ul>
			<li><div class="duo"></div><p>品类齐全，轻松购物</p></li>
			<li><div class="kuai"></div><p>多仓直发，急速配送</p></li>
			<li><div class="hao"></div><p>正平行货，精致服务</p></li>
			<li><div class="sheng"></div><p>天天低价，畅选无忧</p></li>
		</ul>
	</div>
	<!-- 多快好省end -->

	<!-- 结尾start -->
	<div class="jiewei">
		<div class="j1">
			<ul>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">关于我们</a></li>
				<li class="line"></li>
				<li><a href="#">English</a></li>
				<li class="line"></li>
				<li><a href="#">Site</a></li>
				<li class="line"></li>
				<li><a href="#">Media & IR</a></li>
				<li class="line"></li>
			</ul>
		</div>
		<div class="j2">
			<p>吴京泽永远的神吴京泽永远的神吴京泽永远的神吴京泽永远的神吴京泽永远的神吴京泽永远的神吴京泽永远的神吴京泽永远的神
			<br>
			阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司阿斯加德有限公司
			<br>
			赛博坦集团赛博坦集团赛博坦集团赛博坦集团赛博坦集团赛博坦集团赛博坦集团赛博坦集团
			<br>
			赫尔阿克京泽帝旗下网站
			</p>
		</div>
		<div class="j3">
			<ul>
				<li class="l1"><a href="#"></a></li>
				<li class="l2"><a href="#"></a></li>
				<li class="l3"><a href="#"></a></li>
				<li class="l4"><a href="#"></a></li>
				<li class="l5"><a href="#"></a></li>
				<li class="l6"><a href="#"></a></li>
			</ul>
		</div>
	</div>
	<!-- 结尾end -->
	</div>
</body>
</html>