.head {
    width: 100%;
    height: 50px;
}

a {
    text-decoration: none;
}

.head-left {
    float: left;
    width: 230px;
    height: 100%;
    background-color: rgb(21, 184, 215);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: 900;
}

.head-left a,
.head-left a:hover {
    text-decoration: none;
    color: white;
}

.head-left i {
    font-size: 25px;
}

.head-middle {
    height: 100%;
    float: left;
}

#one-menu li {
    line-height: 30px;
}

.head-right {
    height: 100%;
    float: right;
}

.head-right>ul>li {
    float: left;
    text-align: center;
    line-height: 50px;
}

.admin-img {
    width: 36px;
    height: 36px;
    margin-top: 7px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../../images/admin/xm.jpg);
    float: left;
    position: relative;
}

.user {
    display: none;
}

.user li {
    background-color: #EEEEEE;
    border: 1px solid #999;
    margin: auto;
}

.admin-li:hover .user {
    display: block;
    z-index: 999;
    width: 251px;
    height: 104px;
    top: 50px;
    position: absolute;
}

.admin-li:hover a {
    text-decoration: none;
}

.head-right {
    position: relative;
}

.head-right ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.sup {
    float: left;
    font-size: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 15px;
    margin-top: 15px;
}

.chat {
    display: none;
}

.sixin:hover .chat {
    clear: both;
    display: block;
    width: 326px;
    height: 400px;
    position: absolute;
    top: 50px;
    overflow: auto;
    z-index: 999;
    background: #EEEEEE;
}

.chat li {
    width: 326px;
    height: 70px;
    border: 1px solid black;
    margin-bottom: 4px;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.come-from {
    height: 20px;
    display: block;
    float: left;
    /* background-color: coral; */
    margin-top: 0px;
    line-height: 20px;
}

.chat p {
    margin: auto;
    width: 300px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* background-color: cyan; */
    line-height: 30px;
}

.time {
    height: 20px;
    display: block;
    float: right;
    /* background-color: coral; */
    margin-top: 0px;
    margin-right: 15px;
    line-height: 20px;
}

.middle {
    width: 100%;
    height: calc(100vh - 50px);
    background: #EEEEEE;
}

.middle>div {
    width: 1300px;
    height: 100%;
    background-color: white;
    margin: auto;
    border: 20px solid #EEEEEE;
}

.middlek {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

.middlek iframe {
    height: 100%;
    width: 100%;
}

.one {
    /* background-color: aqua; */
    display: block;
}

.bg,
.bg_1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.inf {
    background-color: white;
    height: 730px;
    width: 45%;
    margin: auto;
    margin-top: 60px;
    border-radius: 3px;
}

.inf-head {
    width: 100%;
    height: 30px;
    background-color: rgb(21, 184, 215);
    border-radius: 3px;
}

#close,
#close_1 {
    float: right;
    margin-right: 5px;
    background-color: red;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    border: 0px;
    margin-top: 3px;
    z-index: 999;
}

.inf-from {
    width: 100%;
    height: 700px;
    border-radius: 3px;
    overflow: scroll;
    padding: 30px;
}

.inf-from li {
    list-style: none;
}

.tip {
    display: none;
    color: red;
    float: right;
}