<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单管理</title>
		<link rel="icon" href="./images/common/云上书屋.png" type="image/x-icon" />
		<link rel="stylesheet" href="../../css/orders/orders.css">
	</head>
	<body>
		<div>
			<div class="d2">

				<div class="banners1">
					<h3 style="color: black;">我的订单</h3>
				</div>

				<div class="u1">
					<ul class="u3">
						<li><a href="" style="color: black;">所有订单</a></li>
						<li><a href="" style="color: black;">待付款<em>0</em></a></li>
						<li><a href="" style="color: black;">待发货<em>0</em></a></li>
						<li><a href="" style="color: black;">待评价<em>0</em></a></li>
						<li><a href="" style="color: black;">退款或售后</a></li>
					</ul>
					<div class="l1"><input type="text" value="" class="search-order-ipt" placeholder="订单号/商品名称"></div>
					<section class="cont" id="global">
						<div>
							<div class="d4">
								<div class="d5">
									<select class="s1">

										<option value="">近三个月订单</option>

										<option value="">今年订单</option>

										<option value="">去年订单</option>

										<option value="">更早以前</option>

									</select>
									<p class="ph1">商品信息</p>
									<p class="ph2">实付款(元)</p>
									<p class="ph4">交易操作</p>

									<select class="s2">

										<option value="">交易状态</option>

										<option value="">待付款</option>

										<option value="">待发货</option>

										<option value="">待收货</option>
										<option value="">已完成</option>

										<option value="">已取消</option>


									</select>


								</div>
								<div class="d23">
									<img class="imgs1" src="../../images/orders/我的订单.png" alt="">
									<div class="d22"><a href="">去购物 &gt</a></div>
								</div>
							</div>
						</div>

					</section>

				</div>
			</div>

		</div>
		</div>
	</body>
</html>
