#app {
    margin-top: 40px;
}

.div {
    display: none;
    float: right;
    padding: 10px;
}

.div0 {
    display: block;
}

.inf {
    width: 100%;
    background-color: #F7F7F7;
    padding-top: 30px;
}

.head_img {
    width: 100%;
    height: 128px;
    margin-bottom: 16px;
    /* background-color: aquamarine; */
}

.nickname,
.phone,
.sex,
.birthday,
.address {
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
}

.on_left {
    width: 100px;
    padding: 0px 30px 0px 0px;
    float: left;
}

.span1 {
    float: right;
    line-height: 128px;
}

.span2 {
    float: right;
    line-height: 40px;
}

.on_right {
    float: left;
    margin-right: 20px;
}

.phone {
    line-height: 40px;
}

#province,
#city,
#area,
#province_sel,
#city_sel,
#area_sel {
    height: 40px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}


/* .on_right input {
    opacity: 0;
    filter: alpha(opacity=0);
    height: 95px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
} */

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 126px;
    height: 126px;
    line-height: 126px;
    text-align: center;
}

.avatar {
    width: 126px;
    height: 126px;
    display: block;
}

.center_inf {
    padding: 0px;
}

.my_center {
    width: 100%;
    height: 177px;
    padding: 20px 35px 20px 12px;
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

.el-upload--text {
    width: 126px;
    height: 126px;
}

.center_left {
    width: 50%;
    height: 100%;
    border-right: 1px solid #8c939d;
    float: left;
    box-sizing: border-box;
}

.photo {
    width: 137px;
    height: 137px;
    float: left;
    background-image: url(../../images/admin/xm.jpg);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.thing {
    width: 240px;
    height: 137px;
    padding: 24px 0px 0px 24px;
    box-sizing: border-box;
    /* background-color: chartreuse; */
    margin-left: 30px;
    float: left;
}

.vip {
    margin-top: 12px;
    width: 176px;
    height: 24px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #000, #595959);
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.inf_bot {
    font-size: 14px;
    color: #8c939d;
    margin-top: 35px;
}

.inf_bot a {
    color: #8c939d;
    text-decoration: none;
}

.center_right {
    width: 50%;
    height: 100%;
    /* background-color: violet; */
    float: left;
}

.inner {
    width: 452px;
    /* background-color: tomato; */
    margin: auto;
}

.four_type {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    /* background-color: yellowgreen; */
    font-size: 14px;
}

.four_type>div {
    height: 100%;
    width: 95px;
    float: left;
    /* padding: 0px 35px 0px 0px; */
    box-sizing: border-box;
}

.list_state {
    width: 50px;
    height: 50px;
    border: 1px solid orange;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.list_state i {
    font-size: 20px;
    color: orange;
    line-height: 50px;
}

.four_type>div>span {
    display: block;
    margin-top: 15px;
    margin-left: 24px;
}

.collect {
    height: 500px;
    overflow-y: scroll;
}

.inf_quan {
    padding: 10px;
}

.all_quan {
    width: 100%;
    height: 500px;
    /* background-color: orange; */
}

.address_inf {
    padding: 10px;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: none;
}

.bg_middle {
    width: 750px;
    height: 533px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    border-radius: 5px;
}

.bg_head {
    width: 750px;
    height: 53px;
    padding: 15px 22px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
}

.bg_head h4 {
    margin: 0px;
    font-weight: 900;
}

.bg_body {
    width: 100%;
    height: 480px;
    padding: 10px;
    overflow: scroll;
}

.tips {
    color: red;
    float: right;
    display: none;
}

.el-card__body {
    padding: 10px;
}

.el-card__body>a>div {
    height: 260px;
    width: 184px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* background-color: brown; */
    float: left;
}

.el-card__body>a>div:hover {
    box-shadow: 2px 2px 10px gray;
}

#my_collect {
    height: 700px;
    padding: 10px;
}

#my_collect>a>div {
    height: 260px;
    width: 180px;
    /* background-color: blueviolet; */
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#my_collect>a>div:hover {
    box-shadow: 2px 2px 10px gray;
}

.book_img {
    width: 120px;
    height: 160px;
    /* background-color: greenyellow; */
    margin: auto;
    margin-top: 20px;
    background-size: cover;
}

.book_title {
    width: 160px;
    height: 34px;
    /* background-color: hotpink; */
    margin: auto;
    margin-top: 10px;
}

.book_price {
    width: 160px;
    height: 24px;
    /* background-color: khaki; */
    margin: auto;
}